header{
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 98.9%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    
}

a { color: white;
    text-decoration: none;
}

body{
    background-color: rgb(58, 58, 58);
}
nav{
    display: flex;
    justify-content: space-around;
}
h1{
    text-shadow: 3.5px 1px 1px gray;
    font-size: 60px;
}
.rodar{
    cursor: pointer;

}

main{ margin-top: 270px;

}

.allcard{
display: flex;
flex-wrap: wrap;
justify-content: center;
-ms-flex-align: center;
margin-top: 100px;
}

.card{
background-color: rgb(151, 6, 6);
width: 200px;
padding-top: 20px;
margin-bottom: 70px;
margin-left: 20px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}

#contato2{

background-color: rgba(75, 74, 74, 0.831);
width: 75%;
margin: auto;
text-align: center;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
border-radius: 10px;
border: 2px solid black;
padding: 20px;
box-shadow: 2px 2px 5px red;
text-shadow: 2px 2px 5px grey;

}

#Zap{
width: 50%;
text-align: center;
margin: auto;
background-color: rgb(1, 103, 1);
border-radius: 10px;

}
#Email{

background-color: black;
color: white;
width: 50%;
padding: 10px;
text-align: center;
margin: auto;
margin-top: 30px;
border-radius: 30px;
font-size: 20px;





}


@media(width < 600px){
    h1{
        font-size: 40px;
    }
    header{
        font-size: 16px;
        width: 97%;
    }

    #Email{
        font-size: 10px;  
    }
    #contato2{
        font-size: 16px;
    }

}





@media(width < 451px){
    header{
        width: 96%;
    }
    .card{
        width: 150px;
    }
    #Email{
        font-size: 8px;
    }
}


